<!-- <h2>{{username}}</h2> -->
<div class="d-flex justify-content-center mt-5">
  <div class="card  m-5">
    <div class="card-header bg-success text-light">
      <h5 class="d-flex justify-content-center">SCHOOL HEALTH AND WELLNESS PROGRAM <button
          class="btn btn-sm btn-warning ms-3" (click)="logout()">Logout</button></h5>
    </div>
    <div class="card-body">
      <div class="d-flex ">
        <div>
          <img
            src="https://play-lh.googleusercontent.com/7aeh6STl_MtF-XHW3jKEOVSGtNup7AwkIyysJn9GfbG0L_wz2oZ1HGqpBHXCOJJxHw"
            alt="" style="height: 500px; ">
        </div>
        <div>
          <h5 class="mb-2 fw-bold mt-3">Overveiw about SHWP</h5>
          <p>
            The <b>School Health and Wellness Programme</b> (SHWP) is a collaborative effort between the
            <b>Ministry of
              Health</b> and
            <b>Family Welfare</b> and the <b>Ministry of Education</b> to promote the health and well-being of school
            children across
            India. Launched as an operational guideline by the <b>Hon’ble Prime Minister</b> on April 14, 2018, it paved
            its
            way
            for creation of detailed curriculum, training and resource material and facilitator guideline for SHWP which
            was jointly <b>launched by both the ministers of Health and Education in February 2020</b>.
          </p>
          <p>
            This programme integrates health education into the school curriculum, encouraging lifelong healthy habits.
            Under the initiative, two selected teachers from each school are trained as <b> Health and Wellness
              Ambassadors</b>
            (HWAs) to lead interactive, activity-based sessions on <b>11 key health themes</b>, which are Growing up
            healthy,
            Emotional wellbeing and mental health, Interpersonal relationships, Values and responsible citizenship,
            Gender
            equality, Nutrition, health and sanitation, Promotion of healthy lifestyles, Prevention and management of
            substance misuse, Reproductive health and HIV prevention, Safety and security against violence and injuries
            and Promotion of safe use of internet, media and social media. They are assisted by <b>student leaders</b>,
            known
            as
            <b>Health and Wellness Messengers</b> (HWMs), who help reinforce health messages among their peers, family
            and
            community.
          </p>
          <p>
            Implemented in government and government-aided schools, the programme emphasizes student engagement through
            dynamic learning approaches. To ensure effective execution, a comprehensive <b>Management Information
              System</b>
            (MIS) has been developed for efficient reporting and monitoring.</p>
        </div>
      </div>
    </div>
  </div>
</div>