<div class="d-flex justify-content-center mt-3">
  <form action="" [formGroup]="loginForm">
    <h6><b>Reactive Form</b></h6>
    <div class="card">
      <div class="card-header">
        <h6>Login Page</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="loginname">User Name</label>
          </div>
          <div class="col">
            <input type="text" name="loginname" id="loginname" class="form-control" formControlName="loginname"
              [ngClass]="{'is-invalid':isSuccess&&(error['loginname'].touched && error['loginname'].dirty)}"
              [ngClass]="{'is-valid':isSuccess&&error['loginname'].valid}">
            <div *ngIf="isSuccess&&error['loginname'].errors" class="invalid-feedback">loginname Required</div>
            <div *ngIf="isSuccess&&error['loginname'].valid" class="valid-feedback">Valid</div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <label for="password">Password</label>
          </div>
          <div class="col">
            <input type="password" name="password" id="password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid':isSuccess&&error['password'].errors}"
              [ngClass]="{'is-valid':isSuccess&&error['password'].valid}">
            <div *ngIf="isSuccess&&error['password'].errors" class="invalid-feedback">Password Required</div>
            <div *ngIf="isSuccess&&error['password'].valid" class="valid-feedback">Valid</div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-success" (click)="onSubmit()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>