<!-- <a routerLink="/" routerLinkActive="active">Home</a>
<br><br>
<a routerLink="/login" routerLinkActive="active">Login</a> -->

<div class="d-flex justify-content-center gap-2 mt-3">
  <button routerLink="/" class="btn btn-danger">Home</button>
  <button class="btn btn-sm btn-success " routerLink="/login">Login</button>
  <button class="btn btn-sm btn-warning" routerLink="/comp1">Component 1</button>
  <button class="btn btn-sm btn-info" routerLink="/comp2">Component 2</button>
  <button class="btn btn-sm btn-success" routerLink="/comp3">Component 3</button>
  <button class="btn btn-sm btn-primary" routerLink="/comp4">Component 4</button>
  <button class="btn btn-sm btn-secondary" routerLink="/comp5">Component 5</button>
  <button class="btn btn-sm btn-info" routerLink="/comp6">Component 6</button>
  <button class="btn btn-sm btn-dark" routerLink="/comp7">Component 7</button>
  <button class="btn btn-sm btn-success" routerLink="/comp8">Component 8</button>
  <button class="btn btn-sm btn-info" routerLink="/comp9">Component 9</button>
  <button class="btn btn-sm btn-secondary" routerLink="/comp10">Component 10</button>
  <button class="btn btn-sm btn-primary" routerLink="/apiapexchart">API ApexChart</button>

</div>
<!-- [ngClass]="{'is-invalid':isSuccess&&error['userName'].errors}"
[ngClass]="{'is-valid':isSuccess&&error['userName'].valid}" -->
<!-- <Router-outler></Router-outler> -->
<router-outlet></router-outlet>
